.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 10px;
  width: 140px;
  padding: 7px;
}
